/*font-family: 'UnifrakturCook', cursive;
font-family: 'Lobster', cursive;
*/
h1 {
	font-size: 8em;
}

h3 {
	font-size: 6em;
}

section {
	height: 100%;
}

h4 {
	font-size: 2em;
}

.title {
	font-family: 'UnifrakturCook', cursive !important;
}

* {
	background-color: #60DFE5;
	font-family: 'Lobster', cursive;
	color: #000;
}

p {
	font-size: 4em;
}

hr {
	border-top: 5px solid #fff;
}

section {
	height: 100%;
}

i.text-center.fa.fa-lock {
	font-size: 20em;
	display: block;
}

#resposta {
	height: 2em;
	font-size: 3em;
	color: #000;
}

.pretoebranco {
	background-color: #000;
	color: #fff;
}

#perguntaNumero1 h5, #perguntaNumero5 h5, #perguntaNumero8 h5 {
	font-style: italic;
	font-weight: bold;
}

h5 {
	font-size: 24px;
}

i.fa.fa-heart {
	color: red;
}

em {
	display: block;
	font-family: Trebuchet MS;
}

.myButton {
	background-color: #bb3dbb;
	-moz-border-radius: 42px;
	-webkit-border-radius: 42px;
	border-radius: 42px;
	border: 1px solid #ffffff;
	cursor: pointer;
	color: #ffffff;
	font-family: Trebuchet MS;
	font-size: 16px;
	font-weight: bold;
	padding: 16px 31px;
}

input#resposta1 {
	font-family: Trebuchet MS;
	padding: 30px;
	border-radius: 20px
}